@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.text-gradient {
  background: linear-gradient(90deg, #6366f1, #818cf8, #a78bfa, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}